# dhcpd.conf.j2
option domain-name "{{ domain }}";
option domain-name-servers {{ dns | join(", ") }};
default-lease-time 600;
max-lease-time 7200;
subnet {{ network }} netmask {{ netmask }} {
  range {{ range_start }} {{ range_end }};
  option routers {{ network | regex_replace('\.0$', '.254') }};
  option subnet-mask {{ netmask }};
  option domain-name "{{ domain }}";
  option domain-name-servers {{ dns | join(", ") }};

{% for host in reservations %}
  host {{ host.name }} {
    hardware ethernet {{ host.mac }};
    fixed-address {{ host.ip }};
  }
{% endfor %}
}
